// $blackColor: rgb(24,24,24); // Kept here for notes purposes

@import './Variables/Variables.scss';

body {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 100vh;
    width: 100vw;
    background-color: $blackColor;
    display: flex;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    width: 100px;
}

.navbar a {
    color: $whiteColor;
    font-size: 20px;
    text-decoration: none;
    font-family: $titleFont;
    margin: 10px;
}

