@import './Variables/Variables.scss';

.pageDetails {
    display: flex;
    justify-content: center;
    font-size: 36pt;
    height: 100vh;
    width: 100%;
    width: 100%;
    margin-left: 220px;
    background-color: green;
}